.App {
    display: flex;
}
.section {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 255px;
    font-size: 1.17em;
}


